@model List<StockModel>



@if (Model != null)
{

   
    
   
        <div class="row">
            <h4 class="card-label" style="font-weight:bold"></h4>
        </div>
        <div class="row table-responsive">
            <table class="table table-bordered text-center ">
                <thead>
                    <tr>
                         <th>Sr.No</th>
                        <th >Image </th>
                         <th>Name </th>
                        <th >Total Item(s)</th>
                        <th >Sale Item(s)</th>                  
                        <th >Remaining</th>
                    </tr>
                </thead>
                <tbody>

                @foreach(var item in Model)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            <img src="@item.ImageUrl" height="100px" width="50%" />
                        </td>
                        <td>@item.Name</td>
                        <td>@item.Total</td>
                        <td>@item.Sale</td>
                        <td>@item.Remaining</td>

                    </tr>

                }
        
                </tbody>
            </table>
        </div> 
        <br />
    

   



}