@using DealCart.DAL.Models
@inject IHttpContextAccessor _con;
@{
    int row = 0;
    int totalQty = 0;
    float totalBill = 0;
    float subtotal = 0;
    // float totalVAT = 0;
    float totalshippingFee = 0;
    string amount = string.Empty;
    Layout = "_Layout";

}
<style>
    @@media only screen and (max-width:800px) {
        .btnForPayment {
            flex-direction: column;
            align-items: start !important;
        }

            .btnForPayment .btn-success, .btnForPayment .form-check {
                margin-bottom: 10px !important;
            }
    }

    a.btn.btn-success:hover {
        color: #fff !important;
    }

    body {
        background: white !important;
    }

    .gallery-wrap .img-big-wrap {
        margin-bottom: 10px;
        border-radius: 0.37rem;
        overflow: hidden;
        background-color: #fff;
    }

        .gallery-wrap .img-big-wrap img {
            height: auto;
            width: 100%;
            display: inline-block;
            cursor: -webkit-zoom-in;
            cursor: zoom-in;
        }

    .img-sm {
        width: 80px;
        height: 80px;
    }

    .gallery-wrap .thumbs-wrap {
        text-align: center;
        margin-bottom: 20px;
    }

    .gallery-wrap .thumbs-wrap {
        text-align: center;
        margin-bottom: 20px;
    }

    article:after, .form-group:after {
        display: block;
        clear: both;
        content: "";
    }

    .fake-input img {
        position: absolute;
        top: 25px;
        left: 4px;
    }

    .fake-input .form-control {
        padding-left: 65px;
    }

    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.9rem + 2px);
        padding: 0.45rem 0.85rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.37rem;
        -webkit-transition: border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    }

    .fake-input span.code {
        position: absolute;
        top: 25px;
        left: 29px;
        font-size: 14px;
        color: #555;
        font-weight: bold;
    }

    .label-rating {
        margin-left: 7px;
        display: inline-block;
        vertical-align: middle;
    }

    .price {
        font-weight: 600;
        color: #212529;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .price-old {
        color: #969696;
        margin-left: 5px;
    }

    .fake-input {
        position: relative;
    }
</style>

<div class="bg-gray bg-gray-200 mt-8 pb-8 px-5 pt-10">
    <div>
        <span class="text-dark fs-4 fw-bold">Home</span><span class="text-dark fs-5 fw-bold">/Cart</span>
    </div>
</div>
<div class="container-fluid mb-8">
    <section class="section-content padding-y">
        <div class="container">
            <div class="row">
                <main class="col-md-9">
                    <div class="card">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                    <th scope="col" width="200" class="text-right">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (@_con.HttpContext.Session.GetString("Cart") != null)
                                {

                                    var cartList = Newtonsoft.Json.JsonConvert.DeserializeObject<List<CartVM>>(@_con.HttpContext.Session.GetString("Cart"));

                                    if (cartList != null && cartList.Count > 0)
                                    {
                                        @foreach (var item in cartList)
                                        {
                                            <tr>

                                                <td>
                                                    <figure class="itemside">
                                                        <div class="aside"><img src="~/Store/ProductImages/@item.ImageUrl" class="img-sm"></div>
                                                        <figcaption class="info"><a href="#" class="title text-dark">@item.Description</a> <p class="text-muted small">@item.Name</p></figcaption>
                                                    </figure>
                                                </td>
                                                <td>
                                                    @item.QuantityPrice
                                                </td>
                                                <td><div class="price-wrap"><var class="price">@item.SalePrice AED</var></div></td>
                                                <td>
                                                    <a asp-action="RemoveFromBag" asp-controller="Cart" asp-route-rowNo="@row"
                                                       class="reduced items-count"><i class="bi bi-trash"></i></a>
                                                </td>
                                            </tr>
                                            row++;
                                            totalQty += item.Quantity;
                                            subtotal += float.Parse(item.SalePrice.ToString());
                                            //totalVAT += float.Parse(item.VAT.ToString());
                                            totalshippingFee += float.Parse(item.ShippingCharges.ToString());


                                        }
                                        //10 Fix can also be add
                                        //totalshippingFee = 10 + totalshippingFee;
                                        //  totalBill = subtotal + totalVAT + totalshippingFee;
                                        totalBill = subtotal + totalshippingFee;
                                        _con.HttpContext.Session.SetString("TotalAmount", Newtonsoft.Json.JsonConvert.SerializeObject(totalBill));

                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="4">No item(s) added into cart.</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4">No item(s) added into cart.</td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                        @if (@_con.HttpContext.Session.GetString("Cart") != null)
                        {
                            var cartList = Newtonsoft.Json.JsonConvert.DeserializeObject<List<CartVM>>(@_con.HttpContext.Session.GetString("Cart"));
                            if (cartList != null && cartList.Count > 0)
                            {
                                <div class="card-body border-top ps-0">
                                    <form asp-action="CheckOut" class="checkform" asp-controller="Cart">
                                        <div class="d-flex align-items-center btnForPayment">
                                            <a asp-action="Index" asp-controller="Home" class="btn btn-success float-md-right me-4"> Continue shopping <i class="fa fa-chevron-right"></i></a>

                                            <div class="form-check form-check-custom form-check-success me-4"><input type="radio" class="form-check-input" value="Cash on Delivery" checked="checked" name="PaymentType" /> <label class="form-check-label">Cash on Delivery</label></div>
                                            <div class="form-check form-check-custom form-check-success me-4">
                                                <input type="radio" class="form-check-input d-none" disabled value="Cash by PayPal" name="PaymentType" />
                                                <label class="form-check-label">PayPal</label>
                                            </div>

                                            <button type="submit" value="Proceed to CheckOut" class="btn btn-success  float-md-left"><i class="fa fa-chevron-left"></i>Proceed to CheckOut</button>
                                        </div>

                                    </form>
                                </div>
                                <div class="alert alert-success d-flex align-items-center p-5 mb-10">
                                    <i class="fa fa-truck fs-1hx text-success me-4"><span class="path1"></span><span class="path2"></span></i>
                                    <div class="d-flex flex-column">
                                        <span class="icontext">Delivery within 2 working days</span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="card-body border-top ps-0">

                                    <div class="d-flex align-items-center btnForPayment">
                                        <a asp-action="Index" asp-controller="Home" class="btn btn-success float-md-right me-4"> Add item(s) <i class="fa fa-chevron-right"></i></a>
                                    </div>
                                </div>

                            }
                        }
                        else
                        {
                            <div class="card-body border-top ps-0">

                                <div class="d-flex align-items-center btnForPayment">
                                    <a asp-action="Index" asp-controller="Home" class="btn btn-success float-md-right me-4"> Add item(s) <i class="fa fa-chevron-right"></i></a>
                                </div>
                            </div>

                        }
                    </div>
                </main>
                <aside class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <dl class="dlist-align">
                                <dt>Sub Total:</dt>
                                <dd class="text-right">@subtotal AED</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Shipping Fee:</dt>
                                <dd class="text-right">@totalshippingFee AED</dd>
                            </dl>
                            @*  <dl class="dlist-align">
                            <dt>VAT:</dt>
                            <dd class="text-right">@totalVAT AED</dd>
                            </dl>  *@
                            <hr class="w-100">
                            <dl class="dlist-align">
                                <dt>Grand Total:</dt>
                                <dd class="text-right h5"><strong>@totalBill AED</strong></dd>
                            </dl>


                            @if (@_con.HttpContext.Session.GetString("Order") != null)
                            {
                               @*  <button type="button" class="edit-contact-button btn btn-sm btn-warning">Contact Details <i class="fa fa-edit"></i></button>
 *@
                                foreach (var order in Newtonsoft.Json.JsonConvert.DeserializeObject<List<OrderVM>>(@_con.HttpContext.Session.GetString("Order")))
                                {
                                    <dl class="dlist-align">
                                        <dt>

                                            Name:  <span class="edit-contact-button text-warning" style="margin-left:10px"><i class="fa fa-edit" style="color:green;"></i></span>
                                        </dt>
                                      
                                        <dd class="text-right">@order.OrderName</dd>
                                    </dl>
                                    <dl class="dlist-align">
                                        <dt>Email:</dt>
                                        <dd class="text-right">@order.OrderEmail</dd>
                                    </dl>
                                    <dl class="dlist-align">
                                        <dt>Contact:</dt>
                                        <dd class="text-right">@order.OrderContact</dd>
                                    </dl>
                                    <dl class="dlist-align">
                                        <dt>Address</dt>
                                        <dd class="text-right">@order.OrderAddress @order.Emirates</dd>
                                    </dl>

                                }

                            }




                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>

</div>


<div class="modal fade" id="contact-edit-model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Contact Details</h5>

            </div>
            <div class="modal-body">
                <div class="form-group mb-3">

                    <span>
                        <label for="OrderName">Full Name<span class="text-danger">*</span></label>
                        <input type="text" name="OrderName" id="OrderName" onchange="changeName();" placeholder="Enter Name" class="form-control">
                        <span class="text-danger d-none reqOrderName">Required</span>
                    </span>
                </div>
                <div class="form-group mb-3">
                    <span>
                        <label for="OrderEmail">Email<span class="text-danger">*</span></label>
                        <input type="email" name="OrderEmail" id="OrderEmail" onchange="changeEmail();"  placeholder="Enter Email" class="form-control">
                        <span class="text-danger d-none reqOrderEmail">Required</span>
                    </span>
                </div>
                <div class="form-group mb-3 fake-input">
                    <span>
                        <label for="OrderContact">Mobile<span class="text-danger">*</span></label>
                        <img src="https://jetronics.ae/uploads/lib/AE.png" width="20"><span class="code">+971&nbsp;</span>
                        <input type="number" name="OrderContact" id="OrderContact"  onchange="changeContact();" maxlength="13" placeholder="Mobile" class="form-control">
                        <span class="text-danger d-none reqOrderContact">Required</span>
                    </span>
                </div>

                <div class="form-group mb-3">
                    <label for="Emirates"> Emirates<span class="text-danger">*</span></label>
                    <select class="form-control" id="Emirates" name="Emirates" onchange="changeEmirates();" style="width: 100%;">
                        <option disabled selected>--Select Emirates--</option>
                        <option value="Dubai">DUBAI</option>
                        <option value="Abu  Dhabi ">ABU DHABI</option>
                        <option value="Sharjaah">SHARJAH</option>
                        <option value="Ajman">AJMAN</option>
                        <option value="Ras AL Khaimah">RAS AL KHAIMAH</option>
                        <option value="Fujairah ">FUJAIRAH</option>
                        <option value="Umm Al Quwain">UMM AL QUWAIN</option>
                        <option value="Al ain">Al ain</option>
                    </select>
                    <span class="text-danger d-none reqOrderEmirates">Required</span>
                </div>
                <div class="form-group mb-3">
                    <span>
                        <label for="OrderAddress">
                            Delivery Address<span class="text-danger">*</span>
                        </label>
                        <textarea id="OrderAddress" name="OrderAddress" onchange="changeAddress();" placeholder="Delivery Address" class="form-control" rows="5"></textarea>
                        <span class="text-danger d-none reqOrderAddress">Required</span>
                    </span>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-contact-button">Save changes</button>
            </div>
        </div>
    </div>
</div>



<script>
   


    function changeName(){
        var orderName = $("#OrderName").val();
        if (orderName == '' || orderName == undefined) {
          
            $('.reqOrderName').removeClass("d-none");
        }
        else {
            $('.reqOrderName').addClass("d-none");
        }
    }
    function changeEmail() {
        var orderEmail = $("#OrderEmail").val();
        var regex = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        if (orderEmail == '') {

            $('.reqOrderEmail').text('Required');
            $('.reqOrderEmail').removeClass('d-none');
         
        }
        // else if (regex.test(email) == false) {

        //     isValid = false;

        //     $('.reqOrderEmail').text('Invalid email');
        //     $('.reqOrderEmail').removeClass('d-none');
        // }
        else {
            $('.reqOrderEmail').addClass('d-none');
        }
    }

    function changeContact() {
        var orderContact = $("#OrderContact").val();
        if (orderContact == '' || orderContact == undefined) {
         
            $('.reqOrderContact').removeClass("d-none");
        }
        else {
            $('.reqOrderContact').addClass("d-none");
        }
    }

    function changeAddress() {
        var orderAddress = $("#OrderAddress").val();
        if (orderAddress == '' || orderAddress == undefined) {
    
            $('.reqOrderAddress').removeClass("d-none");
        }
        else {
            $('.reqOrderAddress').addClass("d-none");
        }
    }

    function changeEmirates() {
        var orderEmirates = $("select#Emirates").children("option:selected").val();
        if (orderEmirates == '--Select Emirates--' || orderEmirates == '' || orderEmirates == undefined) {

           
            $('reqOrderEmirates').removeClass("d-none");
        }
        else {
            $('.reqOrderEmirates').addClass("d-none");
        }
    }
    function ValidateOrderContactForm() {

        var isValid = true;

        var orderName = $("#OrderName").val();
        var orderEmail = $("#OrderEmail").val();
        var orderContact = $("#OrderContact").val();
        var orderAddress = $("#OrderAddress").val();
        var orderEmirates = $("select#Emirates").children("option:selected").val();
        console.log(orderEmirates);
        
        if (orderName == '' || orderName == undefined) {
            isValid = false;
            $('.reqOrderName').removeClass("d-none");
        }
        else {
            $('.reqOrderName').addClass("d-none");
        }
        var regex = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        if (orderEmail == '') {

            $('.reqOrderEmail').text('Required');
            $('.reqOrderEmail').removeClass('d-none');
            isValid = false;
        }
        // else if (regex.test(email) == false) {

        //     isValid = false;

        //     $('.reqOrderEmail').text('Invalid email');
        //     $('.reqOrderEmail').removeClass('d-none');
        // }
        else {
            $('.reqOrderEmail').addClass('d-none');
        }
        if (orderContact == '' || orderContact == undefined) {
            isValid = false;
            $('.reqOrderContact').removeClass("d-none");
        }
        else {
            $('.reqOrderContact').addClass("d-none");
        }
        if (orderAddress == '' || orderAddress == undefined) {
            isValid = false;
            $('.reqOrderAddress').removeClass("d-none");
        }
        else {
            $('.reqOrderAddress').addClass("d-none");
        }
        if (orderEmirates == '--Select Emirates--' || orderEmirates == '' || orderEmirates == undefined) {
         
            isValid = false;
            $('reqOrderEmirates').removeClass("d-none");
        }
        else {
            $('.reqOrderEmirates').addClass("d-none");
        }

        return isValid;


    }


    window.onload = function () { window.scrollBy(0, 180); }








    $(document).ready(function () {
        $('.checkform').submit(function (event) {
            console.log("checkout submit")
            event.preventDefault();
            var form = $(this);
            $.ajax({
                type: 'Get',
                url: '/Cart/ValidateCartItem',
                success: function (result) {

                    if (result.status) {
                        form.unbind('submit'); // Unbind the submit event to avoid recursion
                        form.submit(); // Submit the form

                    }
                    else {

                        var html = '';
                        $.each(result.messages, function (index, item) {
                            html += '<p style="text-align:left">' + item + '</p>';

                        })


                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            html: html
                        });
                    }
                }
            });



        });


        $(".edit-contact-button").click(function (e) {
            e.preventDefault();
            console.log("edit button clicked")
            $.ajax({
                url: '/Cart/GetContactDetail',
                type: 'GET',

                success: function (result) {
                    console.log(result);
                    if (result.status == true) {
                        $("#OrderName").val(result.data.name);
                        $("#OrderEmail").val(result.data.email);
                        $("#OrderContact").val(result.data.contact);
                        $("#OrderAddress").val(result.data.address);
                        $("#Emirates").val(result.data.emirates).change();
                        $('#contact-edit-model').modal('show');
                    }
                    else {

                        $('#contact-edit-model').modal('hide');
                    }
                },
                error: function (e, xhr, settings) {
                },
                complete: function () {

                }
            });



        });


        $("#save-contact-button").click(function (e) {
            e.preventDefault();
            $('#save-contact-button').prop('disabled', true);
            var Validation = ValidateOrderContactForm();
            if (!Validation) {
                $('#save-contact-button').prop('disabled', false);
                return false;
            }

            else {
                var data = {};
                data.name = $("#OrderName").val();
                data.email = $("#OrderEmail").val();
                data.contact = $("#OrderContact").val();
                data.address = $("#OrderAddress").val();
                data.emirates = $("select#Emirates").children("option:selected").val();

                $.ajax({
                    url: '/Cart/SaveContactDetail',
                    type: 'POST',
                    data: { model: data },

                    success: function (result) {
                        $('#save-contact-button').prop('disabled', false);
                        window.location.href = '/Home/Cart';

                    },
                    error: function (e, xhr, settings) {
                    },
                    complete: function () {

                    }
                });

            }

        });
    
    });

</script>

<!--================End Cart Area =================-->
