@model DealCart.BLL.ViewModels.ProductDetailVM
@inject IHttpContextAccessor _con;
@{
    int row = 0;
    int totalQty = 0;
    decimal totalBill = 0;
    string amount = string.Empty;
    Layout = "_Layout";
}
<style>
    label {
        display: inline-block;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 2px;
    }
</style>

<div class="bg-gray bg-gray-200 mt-8 pb-8 px-5 pt-10">
    <div>
        <span class="text-dark fs-4 fw-bold">Home</span><span class="text-dark fs-5 fw-bold">/Add to Cart</span>
    </div>
</div>
<div class="container-fluid mb-8">
    <div class="row mx-auto mt-4">
        <aside class="col-md-6">
            <div class="h-100" style="border: 1px solid #d3d3d3;border-radius: 5px;">
                <article class="gallery-wrap">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @{
                                int i = 0;
                            }
                            @foreach (var item in Model.ProductImages.OrderBy(s => s.SortOrder))
                            {
                                i++;
                                var active = i == 1 ? "active" : "";
                                <div class="carousel-item @active">
                                    <div class="img-big-wrap">
                                        <a>
                                            <img src="~/Store/ProductImages/@item.ImageUrl" class="w-100" alt="@item.ImageUrl" style="height:400px">

                                        </a>
                                    </div>
                                </div>
                            }

                        </div>
                        <button class="carousel-control-prev" id="carousel" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" id="carousel" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <figcaption class="info-wrap">
                            <span class="badge badge-danger mr-2" style="float: right;">-@Model.Discount OFF</span>


                            @*  @if (Model.IsShippingFree == false)
                            {
                            <b class="badge badge-success mr-1">
                            @Model.ShippingFee Shipping Charges
                            </b>
                            } *@
                            <div class="fb-share-button ml-2" data-href="@Model.Url" data-layout="button"></div>
                        </figcaption>
                    </div>
                


                    <section class="section-name mt-10">
                        
                            <div class="row px-2">
                              @*   <div class="col-md-4">
                                </div> *@
                                <div class="col-md-8">
                                    <h5 class="title-description">Description</h5>
                                    <p>@Html.Raw(Model.Description)</p>
                                </div>
                            </div>
                      
                    </section>

                </article>
            </div>
        </aside>
        <main class="col-md-6">
            <article class="product-info-aside">
                <h2 class="title mt-3">@Model.ShortDescription </h2>
                <div class="rating-wrap my-3">
                    <small class="label-rating text-success fs-5"><i class="fa fa-clipboard-check text-success fs-5"></i> @Model.Sold sold</small>
                </div>
                <div class="mb-3">
                    <span class="price h4">@Model.SalePrice AED</span>
                    <span class="text-muted price-old"><s>@Model.RealPrice AED</s> </span>



                </div>
                @if (@_con.HttpContext.Session.GetString("Order") == null)
                {
                    <form method="post" class="orderContactForm" asp-action="AddToBag" asp-controller="Cart">
                        <div class="form-group mb-3">
                         
                            <span><label for="OrderName">Full Name<span class="text-danger">*</span></label>
                            <input type="text" name="OrderName" id="OrderName" onchange="changeName();" placeholder="Enter Name" class="form-control">
                                <span class="text-danger d-none reqOrderName">Required</span>
                            </span>
                        </div>
                        <div class="form-group mb-3">
                            <span><label for="OrderEmail">Email<span class="text-danger">*</span></label> 
                            <input type="text" name="OrderEmail" id="OrderEmail" onchange="changeEmail();"  placeholder="Enter Email" class="form-control">
                                <span class="text-danger d-none reqOrderEmail">Required</span>
                            </span>
                        </div>
                        <div class="form-group mb-3 fake-input">
                            <span><label for="OrderContact">Mobile<span class="text-danger">*</span></label> 
                            <img src="https://jetronics.ae/uploads/lib/AE.png" width="20"><span class="code">+971&nbsp;</span> 
                            <input type="number" name="OrderContact" id="OrderContact" onchange="changeContact();" placeholder="Mobile" class="form-control">
                                <span class="text-danger d-none reqOrderContact">Required</span>
                            </span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="quantity">Quantity<span class="text-danger">*</span></label>
                            <select class="form-control" style="width: 100%;" id="QuantityID" onchange="changeQuantity();" name="QuantityID" asp-items="@Model.QuantityList" class="form-select">
                                <option disabled selected>--Select Quantity--</option>
                            </select>
                            <span class="text-danger d-none reqOrderQuantity">Required</span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="Emirates"> Emirates<span class="text-danger">*</span></label>
                            <select class="form-control" id="Emirates"  name="Emirates" style="width: 100%;" onchange="changeEmirates();">
                                <option disabled selected>--Select Emirates--</option>
                                <option value="Dubai">DUBAI</option>
                                <option value="Abu  Dhabi ">ABU DHABI</option>
                                <option value="Sharjaah">SHARJAH</option>
                                <option value="Ajman">AJMAN</option>
                                <option value="Ras AL Khaimah">RAS AL KHAIMAH</option>
                                <option value="Fujairah ">FUJAIRAH</option>
                                <option value="Umm Al Quwain">UMM AL QUWAIN</option>
                                <option value="Al ain">Al ain</option>
                            </select>
                            <span class="text-danger d-none reqOrderEmirates">Required</span>
                        </div>
                        <div class="form-group mb-3">
                            <span>
                                <label for="OrderAddress">
                                    Delivery Address<span class="text-danger">*</span>
                                </label>
                                <textarea id="OrderAddress" name="OrderAddress"  placeholder="Delivery Address" onchange="changeAddress();" class="form-control" rows="5"></textarea>
                                <span class="text-danger d-none reqOrderAddress">Required</span>
                            </span>
                        </div>
                        <div class="form-group mb-3" style="display: none;">
                            <input type="email" id="email" name="email" placeholder="Email address" value="" class="form-control">
                            <input type="hidden" id="" name="pid" value="258" class="form-control">
                        </div>
                        <div class="form-group mb-3" style="display: none;">
                            <input type="hidden" id="ProductID" name="ProductID" value="@Model.ID" class="form-control">
                            <input type="hidden" id="productName" value="@Model.Name" />
                        </div>
                        <div class="d-grid gap-2">
                            @if (Model.Inventory == 0 || Model.Status.Trim() == "OutOfStock")
                            {
                                <span class="text-dark">Out of Stock</span>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success btn-submit ">SUBMIT ORDER</button>
                            }

                        </div>
                    </form>

                }
                else
                {
                    <form method="post" class="orderform" asp-action="AddToCart" asp-controller="Cart">


                        <div class="form-group mb-3">
                            <label for="quantity">Quantity<span class="text-danger">*</span></label>

                            <select class="form-control" style="width: 100%;" id="QuantityID" name="QuantityID" asp-items="@Model.QuantityList" onchange="changeQuantity();" class="form-select">
                                <option disabled selected>--Select Quantity--</option>
                            </select>
                            <span class="text-danger d-none reqOrderQuantity">Required</span>
                        </div>
                        <div class="form-group mb-3" style="display: none;">
                            <input type="hidden" id="ProductID" name="ProductID" value="@Model.ID" class="form-control">
                            <input type="hidden" id="productName" value="@Model.Name" />
                        </div>
                        <div class="d-grid gap-2">
                            @if (Model.Inventory == 0 || Model.Status.Trim() == "OutOfStock")
                            {
                                <span class="text-dark">Out of Stock</span>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success btn-submit ">SUBMIT ORDER</button>
                            }

                        </div>
                    </form>

                }
            </article>
        </main>
    </div>
</div>

<script>


    function changeName() {
        var orderName = $("#OrderName").val();
        if (orderName == '' || orderName == undefined) {

            $('.reqOrderName').removeClass("d-none");
        }
        else {
            $('.reqOrderName').addClass("d-none");
        }
    }
    function changeEmail() {
        var orderEmail = $("#OrderEmail").val();
        var regex = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        if (orderEmail == '') {

            $('.reqOrderEmail').text('Required');
            $('.reqOrderEmail').removeClass('d-none');

        }
        // else if (regex.test(email) == false) {

        //     isValid = false;

        //     $('.reqOrderEmail').text('Invalid email');
        //     $('.reqOrderEmail').removeClass('d-none');
        // }
        else {
            $('.reqOrderEmail').addClass('d-none');
        }
    }

    function changeContact() {
        var orderContact = $("#OrderContact").val();
        if (orderContact == '' || orderContact == undefined) {

            $('.reqOrderContact').removeClass("d-none");
        }
        else {
            $('.reqOrderContact').addClass("d-none");
        }
    }

    function changeAddress() {
        var orderAddress = $("#OrderAddress").val();
        if (orderAddress == '' || orderAddress == undefined) {
         
            $('.reqOrderAddress').removeClass("d-none");
        }
        else {
            $('.reqOrderAddress').addClass("d-none");
        }
    }

    function changeEmirates() {
        var orderEmirates = $("select#Emirates").children("option:selected").val();
        if (orderEmirates == '--Select Emirates--' || orderEmirates == '' || orderEmirates == undefined) {

         
            $('reqOrderEmirates').removeClass("d-none");
        }
        else {
            $('.reqOrderEmirates').addClass("d-none");
        }
    }
    function changeQuantity() {
        var selectedQuantity = $("select#QuantityID").children("option:selected").val();
        if (selectedQuantity == '--Select Quantity--' || selectedQuantity == '' || selectedQuantity == undefined) {
          
            $('.reqOrderQuantity').removeClass("d-none");
        }
        else {
            $('.reqOrderQuantity').addClass("d-none");
        }
    }
    function ValidateOrderContactForm() {

        var isValid = true;

        var orderName = $("#OrderName").val();
        var orderEmail = $("#OrderEmail").val();
        var orderContact = $("#OrderContact").val();
        var orderAddress = $("#OrderAddress").val();
        var orderEmirates = $("select#Emirates").children("option:selected").val();
        var selectedQuantity = $("select#QuantityID").children("option:selected").val();
        console.log(orderEmirates);
        console.log(selectedQuantity);
        if (orderName == '' || orderName == undefined) {
            isValid = false;
            $('.reqOrderName').removeClass("d-none");
        }
        else{
            $('.reqOrderName').addClass("d-none");
        }
        var regex = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        if (orderEmail == '') {
           
            $('.reqOrderEmail').text('Required');
            $('.reqOrderEmail').removeClass('d-none');
            isValid = false;
        }
        // else if (regex.test(email) == false) {

        //     isValid = false;
           
        //     $('.reqOrderEmail').text('Invalid email');
        //     $('.reqOrderEmail').removeClass('d-none');
        // }
        else {
            $('.reqOrderEmail').addClass('d-none');
        }
         if (orderContact == '' || orderContact == undefined) {
            isValid = false;
            $('.reqOrderContact').removeClass("d-none");
        }
        else{
            $('.reqOrderContact').addClass("d-none");
        }
        if (orderAddress == '' || orderAddress == undefined) {
            isValid = false;
            $('.reqOrderAddress').removeClass("d-none");
        }
        else {
            $('.reqOrderAddress').addClass("d-none");
        }
        if (orderEmirates == '--Select Emirates--' || orderEmirates == '' || orderEmirates == undefined) {
            isValid = false;
            $('.reqOrderEmirates').removeClass("d-none");
        }
        else {
            $('.reqOrderEmirates').addClass("d-none");
        }
        if (selectedQuantity == '--Select Quantity--' || selectedQuantity == '' || selectedQuantity == undefined) {
            isValid = false;
            $('.reqOrderQuantity').removeClass("d-none");
        }
        else {
            $('.reqOrderQuantity').addClass("d-none");
        }
        return isValid;


    }
    $(document).ready(function () {

        $("select#QuantityID").change(function () {
            var selectedQuantity = $(this).children("option:selected").val();
            var product = $("#ProductID").val();
            // alert(selectedQuantity + product);

            $.ajax({
                url: '/Cart/CheckDuplicate?QuantityID=' + selectedQuantity + '&ProductID=' + product,
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if (data == true) {
                        Swal.fire({
                            icon: 'error',
                            title: "Already added to cart"

                        });
                    }

                },

            });

        });

        $('.orderContactForm').submit(function (event) {
            event.preventDefault();
            var form = this; // Store a reference to the form

            var validate = ValidateOrderContactForm();

            if (validate == false) 
            {
                return;
            }
            var productId = $("#ProductID").val();
            var productName = $("#productName").val();
          
            var selectedQuantity = $("select#QuantityID").children("option:selected").val();


            $.ajax({
                type: 'POST',
                url: '/Product/ValidateProductStock',
                data: { ProductId: productId, QuantityId: selectedQuantity, Name: productName },
                success: function (result) {

                    if (result.status) {
                        form.submit();

                    }
                    else {

                        var html = '';
                        $.each(result.messages, function (index, item) {
                            html += '<p style="text-align:left">' + item + '</p>';

                        })


                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            html: html
                        });
                    }
                }
            });

        });
        $('.orderform').submit(function (event) {
            event.preventDefault();
            var form = this; // Store a reference to the form
            var productId = $("#ProductID").val();
            var productName = $("#productName").val();
            var selectedQuantity = $("select#QuantityID").children("option:selected").val();
           var isValid=true;
            if (selectedQuantity == '' || selectedQuantity == undefined) {
                isValid = false;
                $('reqOrderQuantity').removeClass("d-none");
            }
            else {
                $('reqOrderQuantity').addClass("d-none");
            }
            if (isValid == false) {
                return;
            }

           
            $.ajax({
                type: 'POST',
                url: '/Product/ValidateProductStock',
                data: { ProductId: productId, QuantityId: selectedQuantity, Name: productName },
                success: function (result) {

                    if (result.status) {
                        form.submit();

                    }
                    else {

                        var html = '';
                        $.each(result.messages, function (index, item) {
                            html += '<p style="text-align:left">' + item + '</p>';

                        })


                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            html: html
                        });
                    }
                }
            });

        });







    });
    $(document).ready(function () {
        $('.menu-link.home').addClass('active');
    })
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0" nonce="YOUR_NONCE_VALUE"></script>

